.u-section-1 {margin-top: 0; margin-bottom: 0}
.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-text-1 {width: auto; font-size: 1rem; margin: 0 auto 0 0} 

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 45px}
.u-section-1 .u-text-1 {font-size: 0.875rem; margin-top: 12px; margin-bottom: 12px; margin-right: 0} }.u-section-2 {margin-top: 0; margin-bottom: 0}
.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-line-1 {width: 272px; height: 3px; margin: -180px auto 60px}
.u-section-2 .u-btn-1 {background-image: none; font-weight: normal; box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); margin: 30px 0 60px; padding: 10px 146px 10px 144px}
.u-section-2 .u-text-1 {font-size: 1rem; margin: -361px auto 60px 50px}
.u-section-2 .u-btn-2 {background-image: none; border-style: solid; font-weight: normal; box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); margin: 25px auto 0 30px; padding: 14px 44px 14px 43px} 

@media (max-width: 1199px){ .u-section-2 .u-text-1 {margin-left: 41px}
.u-section-2 .u-btn-2 {margin-left: 0} }

@media (max-width: 991px){ .u-section-2 .u-text-1 {margin-left: 31px} }

@media (max-width: 767px){ .u-section-2 .u-text-1 {margin-left: 23px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 520px}
.u-section-2 .u-line-1 {transform-origin: right center 0; height: 2px; margin-top: 0; margin-bottom: 0; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-btn-1 {border-style: none; margin: 203px auto 0; padding: 6px 62px 7px}
.u-section-2 .u-text-1 {width: auto; animation-duration: 1000ms; margin-top: -186px; margin-left: auto; margin-bottom: 0}
.u-section-2 .u-btn-2 {border-style: none; margin-top: 192px; margin-left: auto; padding: 6px 45px 7px 44px}
.u-section-2 .u-line-2 {width: 100px; height: 3px; transform-origin: center top 0; margin: -210px auto 60px 120px} }