.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-text-1 {font-size: 1rem; font-weight: normal; margin: -361px auto 60px 50px}
.u-section-1 .u-line-1 {transform-origin: right center 0; height: 2px; margin: 13px auto 60px 0} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-top: -180px; margin-left: 41px} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-left: 31px} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {margin-left: 23px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 80px}
.u-section-1 .u-text-1 {font-size: 0.875rem; font-weight: 700; margin: 9px 26px 0}
.u-section-1 .u-line-1 {margin-bottom: 0; margin-right: initial; margin-left: initial} }.u-section-2 {margin-top: 0; margin-bottom: 0}
.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-text-1 {margin-left: 0; margin-right: 0; margin-bottom: 60px; font-weight: normal; font-size: 1rem}
.u-section-2 .u-image-1 {width: 272px; height: 135px; margin: 18px auto 27px} 

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 226px}
.u-section-2 .u-text-1 {font-weight: 700; font-size: 1.125rem; margin: 18px auto 0} }.u-section-3 {margin-top: 0; margin-bottom: 0}
.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-text-1 {font-weight: normal; font-size: 1rem; margin: 5px 0}
.u-section-3 .u-line-1 {height: 3px; transform-origin: left center 0; margin: 0 auto 5px 0} 

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 36px}
.u-section-3 .u-text-1 {font-weight: 700; font-size: 1.125rem; width: auto; margin: 8px auto 0}
.u-section-3 .u-line-1 {margin-top: -34px; margin-bottom: 31px; margin-right: initial; margin-left: initial} }.u-section-4 {margin-top: 0; margin-bottom: 0}
.u-section-4 .u-sheet-1 {min-height: 500px}
.u-section-4 .u-icon-1 {height: 36px; width: 36px; margin: -172px auto 0 51px}
.u-section-4 .u-text-1 {margin: 30px 0 60px} 

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 131px}
.u-section-4 .u-icon-1 {height: 21px; width: 21px; margin-top: -25px; margin-left: 40px}
.u-section-4 .u-text-1 {margin-bottom: 30px; margin-left: 8px; margin-right: 8px} }.u-section-5 {margin-top: 0; margin-bottom: 0}
.u-section-5 .u-sheet-1 {min-height: 500px}
.u-section-5 .u-line-1 {width: 339px; height: 3px; transform-origin: left center 0; margin: 0 auto}
.u-section-5 .u-text-1 {font-weight: normal; font-size: 1rem; margin: 30px auto 60px}
.u-section-5 .u-icon-1 {height: 21px; width: 21px; margin: -25px auto 6px 131px} 

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 33px}
.u-section-5 .u-line-1 {margin-top: 2px}
.u-section-5 .u-text-1 {width: auto; font-weight: 700; font-size: 1.125rem; margin-top: 1px; margin-bottom: 0} }.u-section-6 {margin-top: 0; margin-bottom: 0}
.u-section-6 .u-sheet-1 {min-height: 500px}
.u-section-6 .u-text-1 {margin-left: 0; margin-right: 0; margin-bottom: 60px} 

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 117px}
.u-section-6 .u-text-1 {margin: 20px 11px 47px} }.u-section-7 .u-sheet-1 {min-height: 500px} 

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 80px}
.u-section-7 .u-custom-html-1 {min-height: 80px; height: auto; margin-top: 0; margin-bottom: 0} }